  <div class="ml-3 mt-3 card mb-3 ">
    <a href="{% url 'logout' %}?next={{request.path}}" class="btn btn-secondary btn-block">Logout</a>
  </div>

  <ul class="list-group shadow-lg mt-6 ml-3">

    <li class="list-group-item">
      <a href="{% url 'todo_list:index' %}" class="btn btn-info btn-block">Home</a>
    </li>

    <li class="list-group-item">
      <a href="{% url 'todo_list:tasks-list' %}" class="btn btn-info btn-block">Tasks</a>
    </li>

    <li class="list-group-item">
      <a href="{% url 'todo_list:tags-list' %}" class="btn btn-info btn-block">All tags</a>
    </li>

  </ul>


