{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1 class="main-title text-lg-left">Tasks</h1>
    <p class="welcome-message">Welcome <strong>{{ user.get_username }}</strong></p>


      <div class="col-md-6">
        <div class="card shadow-lg mb-4">
          <div class="card-body">
            <h5 class="card-title text-primary">Total tasks</h5>
            <p class="card-text">{{ num_tasks }}</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card shadow-lg mb-4">
          <div class="card-body">
            <h5 class="card-title text-success">Task in progress</h5>
            <p class="card-text">{{ num_task_in_progress }}</p>
          </div>
        </div>
      </div>

      <a href="{% url 'todo_list:task-create' %}" class="btn btn-primary bounceOut">Create new task</a>

  </div>
{% endblock %}