{% extends "base.html" %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="/css/tasks_list.css">

<div class="order-list-container">
  <h1 class="order-list-heading">
    Task list
    <a href="{% url 'todo_list:task-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

  {% if tasks_list %}
  <div class="order-plates-container">
    <div class="order-column">
      <h2 class="order-column-heading">Task in progres</h2>
      {% for task in tasks_list %}
        {% if not task.is_done %}
          <div class="order-plate">
            <div class="order-header">
              <strong><span class="order-id">Task id {{ task.id }}</span></strong>
              <div class="order-actions">
                <a href="{% url 'todo_list:task-update' task.id %}" class="btn btn-sm btn-info">Update</a>
                <a href="{% url 'todo_list:task-delete' task.id %}" class="btn btn-sm btn-danger">Delete</a>
              </div>

            </div>
            <p class="order-date">Task Creation Date: {{ task.created_datetime }}</p>
            <p class="order-date">Task Deadline Date: {{ task.deadline_datetime }}</p>

            <div>
                {% if not task.is_done %}
                <strong>task in progress</strong>
                <a href="{% url 'todo_list:update_task_status' task.id %}" class="btn btn-sm btn-success">Complete</a>
                {% else %}
                <strong>completed task</strong>
                {% endif %}
            </div>

          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="order-column">
      <h2 class="order-column-heading">Completed Tasks</h2>
      {% for task in tasks_list %}
        {% if task.is_done %}
          <div class="order-plate">
            <div class="order-header">
              <stro><span class="order-id">Task ID: {{ task.id }}</span></stro>
              <div class="order-actions">
                <a href="{% url 'todo_list:task-update' task.id %}" class="btn btn-sm btn-info">Update</a>
                <a href="{% url 'todo_list:task-delete' task.id %}" class="btn btn-sm btn-danger">Delete</a>
              </div>
            </div>
            <p class="order-date">Task Deadline Date: {{ task.deadline_datetime }}</p>
                <div>
                  {% if task.is_done %}
                    <strong>task completed</strong>
                    <a href="{% url 'todo_list:update_task_status' task.id %}" class="btn btn-sm btn-success">Undo</a>
                    {% else %}
                    <strong>completed task</strong>
                  {% endif %}
                </div>
            <div>
              <strong>completed task</strong>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% else %}
  <p class="no-orders-message">There are tasks :(</p>
  {% endif %}
</div>

{% endblock %}