{% extends "base.html" %}

{% block content %}

<div class="container">
  <h2 class="mt-4">
    Task list
    <a href="{% url 'todo_list:task-create' %}" class="btn btn-primary">Create</a>
  </h2>

  {% if tasks_list %}
    <div class="row">
      <div class="col-md-6 ">
          <div class="card-header">
            <h4 class="card-title">Tasks in Progress</h4>
          </div>
          <div class="card-body">
            {% for task in tasks_list %}
              {% if not task.is_done %}
                <div class="card mb-3 shadow-lg">

                  <div class="order-header">
                    <strong><a>{{ task.content }}</a></strong>
                    <span class="badge text-primary">Tasks in Progress</span>
                  </div>

                    <p class="small">Task Creation Date: {{ task.created_datetime }}</p>
{#                  <p class="order-date">Task Deadline Date: {{ task.deadline_datetime }}</p>#}

                  <div>
                    <div class="order-actions">
                      <a href="{% url 'todo_list:task-update' task.id %}" class="btn btn-sm btn-info">Update</a>
                      <a href="{% url 'todo_list:task-delete' task.id %}" class="btn btn-sm btn-danger">Delete</a>
                  </div>

                    <sapn class="text-secondary">Tags:</sapn>
                      {% for tag in task.tags.all %}
                        <span class="badge">{{ tag.name }}</span>
                      {% endfor %}
                    <span class="float-right">
                    <a href="{% url 'todo_list:update_task_status' task.id %}" class="btn btn-sm btn-success">Complete</a>
                    </span>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
          <div class="card-header">
            <h2 class="card-title">Completed Tasks</h2>
          </div>
          <div class="card-body">
            {% for task in tasks_list %}
              {% if task.is_done %}
                <div class="card mb-3 shadow-lg">

                  <div class="order-header">
                    <strong><a>{{ task.content }}</a></strong>
                    <span class="badge text-warning">Task competed</span>
                  </div>

                    <p class="small">Task Deadline: {{ task.created_datetime }}</p>

                  <div class="order-actions">
                      <a href="{% url 'todo_list:task-update' task.id %}" class="btn btn-sm btn-info">Update</a>
                      <a href="{% url 'todo_list:task-delete' task.id %}" class="btn btn-sm btn-danger">Delete</a>
                  </div>

                  <div>
                    <sapn class="text-secondary">Tags:</sapn>
                      {% for tag in task.tags.all %}
                        <span class="badge">{{ tag.name }}</span>
                      {% endfor %}
                    <span class="float-right">
                    <a href="{% url 'todo_list:update_task_status' task.id %}" class="btn btn-sm btn-success">Undo</a>
                    </span>
                  </div>

                </div>
              {% endif %}
            {% endfor %}
          </div>
      </div>
    </div>
    </div>
  {% else %}
    <p class="no-orders-message">There are no tasks :(</p>
  {% endif %}
</div>

{% endblock %}